// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$black: #333;

.pagination a, .pagination span.current, .pagination span.gap {
	float: left;
	padding: 0 14px;
	line-height: 38px;
	text-decoration: none;
	background-color: white;
	border: 1px solid #DDD;
	border-left-width: 0;
}

.pagination {
	border-left: 1px solid #ddd;
	.first{
		padding : 0;
		float: none;
		border: none;
	}
	.prev {
		padding : 0;
		float: none;
		border: none;
	}
	.page{
		padding : 0;
		float: none;
		border: none;
	}
	.next{
		padding : 0;
		float: none;
		border: none;
	}
	.last{
		padding : 0;
		float: none;
		border: none;
	}
}

.m-t-20{
  margin-top: 20px;
}

.m-r-5{
  margin-right: 5px !important;
}


.p-0{
  padding: 0px !important;
}

.bgm-black{
  background: $black;
}

.break-word{
  word-wrap: break-word;
}

#lightgallery{
  // background: black;
}

.thumb-small{
  height: 120px;
  border: 3px solid $black;
}

.thumb-big{
  max-height: 200px;
  border: 3px solid $black;
}

.lg-sub-html {
  display: none !important;
}

.custom-file-input::-webkit-file-upload-button {
 visibility: hidden;
}

.custom-file-input::before {
 content: 'Adicionar';
 display: inline-block;
 background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
 border: 1px solid #999;
 border-radius: 3px;
 padding: 5px 8px;
 outline: none;
 white-space: nowrap;
 -webkit-user-select: none;
 cursor: pointer;
 text-shadow: 1px 1px #fff;
 font-weight: 700;
 font-size: 10pt;
}

.custom-file-input:hover::before {
 border-color: black;
}

.custom-file-input:active::before {
 background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
